# Dependencies
node_modules/

# Environment variables & local secrets
.env
.env.local
.env.*.local
*.env

# Build outputs
dist/
dist-ssr/
*.local

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
